.App{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#110120 35%, #000000);
}
.appHeader{
  display: flex;
  background-color: #130124;
  color: white;
}

 
li{
  list-style-type: none;
}